@media screen and (max-width: 992px) {
  #row-2 {
    display: none;
  }
  #row-3 {
    margin-top: 230px;
    margin-bottom: 15px;
  }
  #row-3-bottom {
    display: none;
  }
  #row-45 {
    display: flex;
    flex-direction: column;
  }

  #row-45-bottom {
    display: flex;
  }

  #row-45-bottom p {
    display: inline;
  }

  #row-5 li {
    margin-bottom: 12px;
  }

  .main-wrapper {
    width: 100%;
  }
  #row-7 {
    padding-bottom: 12px;
  }

  #row-7 li {
    display: none;
  }
  #row-7 li:first-child {
    display: block;
  }

  #row-7 ul {
    border-bottom: solid 2px white;
    display: flex;
    justify-content: space-between;
  }

  #row-7 .main-wrapper {
    flex-direction: column;
    gap: 5px;
    width: 95%;
  }
  #row-7 ul i {
    display: inline;
  }

  #row-7-contact {
    display: inline;
    border-bottom: none !important;
  }
  #row-7-contact-info {
    display: none !important;
  }
  /*                  */

  #row-6 {
    height: fit-content;
  }

  #row-6-left {
    gap: 2%;

    width: 100%;
  }

  .car-div {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .car-div p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 14px;

    width: 50px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Ensures overflowed text is hidden */
    text-overflow: ellipsis; /* Displays an ellipsis (...) for overflowing text */
  }

  #row-6-left img {
    width: 100%;
  }

  #row-6-right {
    padding: 24px 18px;

    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    height: 100%;
    width: 50%;
  }

  #row-6-right img {
    width: 50%;
  }

  .price {
    align-self: flex-end;

    margin-right: 10px;
  }

  .row-6-text {
    display: flex;
    color: orangered;
    align-items: center;
  }

  .main-carousel {
    width: 100%;
  }

  .flickity-viewport {
    width: 100% !important;
  }

  .carousel-cell {
    width: 32%;
    margin-left: 13px;
  }

  #row-4-first,
  #row-4-third {
    width: 21%;
    justify-content: center;
    align-items: center;
  }

  #row-4-second {
    width: 23%;
    align-items: center;
  }

  #row-4 {
    gap: 13px !important;
  }

  #plate-image {
    width: 120%;
  }
  #jamstvo-image {
    width: 130%;
  }

  .fa-car {
    width: 40%;
  }
}

@media screen and (max-width: 770px) {
  .regular {
    display: none;
  }
  .dropdown-from,
  .dropdown-to {
    width: 50%;
    margin: 0px;
  }

  .dropdowns-long {
    display: flex;
  }
  #filter-button {
    display: none;
  }
  #search-button {
    width: 100%;
  }
  #row-3-search-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .row-1-bars {
    display: block !important;
  }

  .top-buttons {
    display: none;
  }

  #row-3-extra {
    display: block;
  }

  #row-4 {
    height: 250px;
  }

  #row-4-third {
    display: block;
  }

  .row-4-div {
    height: 45% !important;
    padding: 0px 45px;
    width: 20%;
  }

  #row-1 img {
    width: 120px;
    height: fit-content;
  }
  #row-1 {
    height: fit-content;
  }
  #top {
    height: 2px;
  }
}
